{% extends "layout.html" %}

{% block content %}
  <div class="row g-4">
    <div class="col-12">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h4 class="card-title">Resultados de interpolacion ({{ metodo }})</h4>
          <div class="row text-center">
            <div class="col-md-2">
              <div class="stat-box">
                <div class="stat-value">{{ puntos_originales }}</div>
                <div class="stat-label">Puntos originales</div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="stat-box">
                <div class="stat-value">{{ puntos_interpolados }}</div>
                <div class="stat-label">Puntos interpolados</div>
              </div>
            </div>
            
            
            
          </div>
          <div class="text-center mt-3">
            <a class="btn btn-success" href="{{ csv_url }}">Descargar CSV interpolado</a>
            <a class="btn btn-outline-primary" href="{{ url_for('index') }}">Nuevo archivo</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card shadow-sm border-0 h-100">
        <div class="card-body">
          <h5 class="card-title">Grafica comparativa</h5>
          <img src="{{ grafica_url }}" alt="Grafica" class="img-fluid rounded">
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card shadow-sm border-0 h-100">
        <div class="card-body">
          <h5 class="card-title">Mapa interactivo</h5>
          <div class="map-container">
            <iframe src="{{ mapa_url }}" class="map-frame" title="Mapa"></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title">Grafica comparativa con todos los puntos interpolados</h5>
          <div class="row g-4">
            <div class="col-lg-7">
              <img src="{{ comp_grafica_url }}" alt="Comparacion" class="img-fluid rounded">
            </div>
            <div class="col-lg-5">
              
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
